* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.title-section {
    text-align: center;
    margin-top: 300px; /* Original margin */
    margin-bottom: 70px;
}

.title-section h1 {
    font-size: 36px;
    color: #333;
}

.underline {
    width: 100px;
    height: 3px;
    background-color: #008000; /* Green */
    margin: 20px auto;
}

.service-images {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px; /* Original margin */
    flex-wrap: wrap; /* Added to allow wrapping */
}

.service {
    width: calc(33.33% - 40px); /* Adjusted width */
    height: 300px; /* Adjusted height */
    margin: 0 20px; /* Original margin */
    text-align: center;
    background-color: #f2f2f2; /* Light gray background */
    position: relative; /* Added */
    overflow: hidden; /* Added */
    transition: transform 0.3s, border-color 0.3s; /* Adjusted transition */
    margin-bottom: 20px; /* Added margin between each service */
}

.service img {
    width: 100%; /* Adjusted image size */
    height: 100%; /* Adjusted image size */
    object-fit: cover; /* Added to fit the images completely */
    transition: transform 0.3s, filter 0.3s; /* Adjusted transition */
}

.service p {
    margin-top: 20px;
    font-size: 20px; /* Adjusted font size */
    color: #fff; /* Text color set to white */
    font-family: 'Roboto', sans-serif; /* Font set to Roboto */
    position: absolute; /* Added */
    top: 50%; /* Added */
    left: 50%; /* Added */
    transform: translate(-50%, -50%); /* Added */
    z-index: 1; /* Added */
}

.service:hover {
    transform: scale(1.05); /* Slightly enlarge on hover */
    border: 3px solid #008000; /* Green outline on hover */
}

.service-images:hover .service:not(:hover) img {
    filter: brightness(0.6); /* Dim other images when hovering over service-images container */
}

.service:hover img {
    filter: brightness(1); /* Keep hovered image at normal brightness */
}

.see-all-services {
    text-align: center;
    margin-top: 50px; /* Original margin */
}

.see-all-services button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #008000; /* Green */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 70px; /* Original margin */
}

.see-all-services button:hover {
    background-color: #005000; /* Darker green on hover */
}

@media(max-width: 767px) {
    .service {
        width: calc(50% - 40px); /* Adjusted width for smaller screens */
    }
}

@media(max-width: 768px) {
    .service {
        width: calc(100% - 40px); /* Adjusted width for screens 768px or less */
    }
}
