/* Banner Section Styles */
.banner-section {
    margin-top: 0cm; /* Adjust the margin-top value to position the banner */
    position: relative;
    width: 100%;
    height: 800px; /* Adjust the height of the banner section */
}

.banner {
    position: relative;
    width: 100%;
    height: 100%;
}

.banner img {
    width: 100%;
    height: 110%;
    object-fit: cover; /* Ensure the image covers the entire banner */
}

.overlay-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.banner-title {
    font-family: 'Lato Heavy', sans-serif; /* Use Lato Heavy Bold font */
    font-size: 60pt; /* Adjust the font size of the title */
    margin-bottom: 10px; /* Add margin at the bottom */
}

.banner-subtitle {
    font-family: 'Lato', sans-serif; /* Use Lato font */
    font-size: 20pt; /* Adjust the font size of the subtitle */
    margin-top: 10px; /* Add margin at the top */
}

.explore-btn {
    padding: 15px 30px;
    background-color: #337233; /* Set background color */
    color: #fff; /* Set text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15pt; /* Adjust font size */
    font-weight: bold;
    transition: background-color 0.3s ease; /* Add transition effect */
    margin-top: 20px; /* Add margin at the top */
}

.explore-btn:hover {
    background-color: #519251; /* Change background color on hover */
}
